body{
    font-family: Helvetica,Arial,sans-serif;
}

.barranav {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5ecea;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.barranav img {
    width: 200px;
    float:left;
}

.barranav .opciones {
    display: flex;
    align-items: center;
    margin: 20px;
}
.section{
    margin-top: 100px;
    position: relative;
}

a{ 
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
        
    }
    
    a:hover {
        color: #6e6b6a;
      }
    
    a:visited {
        color: none;
      }

      #estiloboton{
        background-color:  #f5ecea;
    }
    
    #estiloboton:hover{
        background-color: rgb(0, 0, 0);
        color:white;
    }
    
.barranav input {
    margin-right: 10px;
    padding: 5px;
}
#perfil__main {
    display: flex;
    flex-direction: row;
    gap: 30px
}

#perfil__container {
    display: flex;
    align-items: center;

}

#perfil__info-usuario {
    display: flex;
    width: min(450px, 100%);
    flex-direction: column;
    align-items: center;   
}

#perfil__recetas {
    flex-grow: 1;

}

.perfil__tarjeta-recetas {
    display: flex;
    align-items: center;
    gap: 15px
}

#perfil__contenedor-recetas {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.button {
    background-color: #f5ecea;
}

#preguntas__boton {
    margin-top: 20px;
}

#form__box {
    display: flex;
    justify-content: center;
}
  
#form__preguntas {
    margin-top: 40px;
    display:block;
    width: 100vh;
    min-height: 30vh;
    max-height: auto;
    min-width: 70vh;
    box-sizing: border-box;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
    padding-block-start: 2em;
    padding-block-end: 2em;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
    background-color: #f5ecea;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.form__input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-block-start: 2px;
    padding-block-end: 2px;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    background-color: #ffffff;
    border-color: #ffffff;
    border-style: none;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-top: 3px solid #000;
}
