body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.barranav {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5ecea;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barranav img {
    width: 200px;
    float:left;
}

.barranav .opciones {
    display: flex;
    align-items: center;
    margin: 20px;
}

a { 
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
        
}
    
a:hover {
    color: #6e6b6a;
}
    
a:visited {
        color: none;
}

#estiloboton{
    background-color:  #f5ecea;
}

#estiloboton:hover{
    background-color: rgb(0, 0, 0);
    color:white;
}

.barranav input {
    margin-right: 10px;
    padding: 5px;
}


.content {
    margin-top: 100px; 
    width: 100%;
    height: 100%;
}

.cajabienvenida {
    background-image: url('https://raw.githubusercontent.com/deraires/chefconnect/main/Images/fondo2.png');
    /*background-color: #000;*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cajabienvenida .fondo-imagen {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    height: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#formEjemplo {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
}

#formEjemplo input[type="text"],
#formEjemplo input[type="email"],
#formEjemplo input[type="password"],
#formEjemplo textarea,
#formEjemplo select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

#formEjemplo input[type="radio"],
#formEjemplo input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

#formEjemplo select {
    padding: 6px;
    border-radius: 2px;
}

#formEjemplo button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

#formEjemplo fieldset {
    margin-bottom: 30px;
    border-style: none;
    /* border: none; */
}

#formEjemplo legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

#formEjemplo label {
    margin-bottom: 8px;
}
#formEjemplo .label {
    display: block;
    margin-bottom: 8px;
}